<head>
<title>{{profile.user.full_name}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
</head>
<button><a href="http://localhost:8000/">HomePage</a></button>
<h1>User Profile</h1>

Name:{{profile.user.full_name}}<br>
Email:{{profile.user.email}}<br>
User_Id:{{profile.user.user_id}}<br>
Phone Number:{{profile.phone_number}}<br>


<img src="{{profile.profile_image.url}}" alt="" height="100px" width="150px">


{% if profile.user == request.user %}
<h3>UPDATE PROFILE</h3>
<button><a href="http://localhost:8000/user/updateProfile/{{request.user.user_id}}">Go</a></button>
{% endif %}
<br>
{% for socials in socials %}
{{socials.social.name}} <i class="fa-brands fa-instagram"></i>: <a href="{{socials.link}}" target="_blank">{{socials.link }}</a><br>
{% endfor %}

<h3>Add Social</h3>
<form action="" method="post">
{% csrf_token %}
{{addsocial.as_p}}
<button type="submit">Add</button>
</form>


<h3>EPORTFOLIO STATUS</h3>
{% if user_portfolio %}
    <!-- Display content when user_portfolio exists -->
    <p>User Portfolio Exists:</p>
    <h3>View my PortFolio</h3>
    <a href="{% url 'eportfolio' request.user.email %}">View my ePortFolio</a>
    <p>User: {{ user_portfolio.user }}</p>
    <p>User Description: {{ user_portfolio.description }}</p>
    <p>Created on : {{ user_portfolio.date_created }}</p>
    {{ user_resume}}
    <p>Resume : <a href="{{ user_resume.resume_file.url }}" target="_blank">View</a></p>
    <!-- Add more content related to user_portfolio here -->
{% else %}
    <!-- Display content when user_portfolio does not exist -->
    <p>User Portfolio Does Not Exist</p>
    CREATE
    <!-- Add content for the case when user_portfolio is None or does not exist -->
{% endif %}
